// color pallette
$white:rgb(255, 255, 255);
$black:rgb(0, 0, 0);
$light:rgb(241, 241, 230);
$dark:rgb(51, 51, 51);
$darkOpacity:rgba(0, 0, 0, 0.5);
$primary:rgb(8, 90, 137);
$secondary:rgb(0, 93, 62);
$inputBorder:rgb(221, 221, 221);

$font:'Open Sans', sans-serif;

$tablet:'min-width:768px';