.blog{
	.content__icon{
		position: relative;
		top: -2px;
	}
	.content__title{
		font-size: 1.45rem;
	}
	.content__desc{
		font-size: 1.7rem;
	}

	@media ($tablet) {
		.content__heading{
			font-size: 5rem;
		}
		.content__title{
			font-size: 1.7rem;
		}
		.content__desc{
			font-size: 1.9rem;
		}
	}

}